<hr>

<footer class="page-footer font-small pt-4">
 <div class="container rounded text-center text-md-left bg-blue">
 	<div class="row">
 		<div class="col-md-6 mt-md-0 mt-3">
			<h3>Other RNA related tools from our group:</h3>
			<ul>
				<li>Secondary structure aligner - <a href="http://beagle.bio.uniroma2.it/" class="text-white linkborder" target="_blank">Beagle</a></li>
				<li>Secondary structure motifs discovery - <a href="http://beam.uniroma2.it/" class="text-white linkborder" target="_blank">BEAM</a></li>

			</ul>
		</div>
	
	</div>

	<div class="footer-copyright py-0">© 2020 Copyright:
    	<a href="http://bioinformatica.uniroma2.it/" class="text-white linkborder" target="_blank"> Centre for Molecular Bioinformatics</a> Tor Vergata University, 00133 Rome, Italy 
  	</div>

</div>


</footer>