<hr>
<div class="container-fluid bg-primary text-white-50">
	<p>Powered by <a href="http://bioinformationx.com/" class="text-white linkborder" target="_blank">BioinformationX</a> @ center for molecular biology - Tor Vergata - Rome</p>
	Other RNA related tools from our group:
	<ul>
		<li>Secondary structure aligner - <a href="http://beagle.bio.uniroma2.com/" class="text-white linkborder" target="_blank">Beagle</a></li>
		<li>Secondary structure motifs discovery - <a href="http://beam.uniroma2.com/" class="text-white linkborder" target="_blank">BEAM</a></li>

	</ul>





</div>