<!-- local CSS 
  personal styles.css goes after bootstrap to avoid unwanted overrides -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">

<!-- js from CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<!-- custom js-->
<script src="/js/navbar.js"></script>

  <a href='.'><img src='../../images/logo.png' style='width: 38%; margin-left: auto; margin-right: auto; display: block' alt="Beam RNA Interaction mOtif search tool"></a></h1>
  <h1 id='WS_description'>Beam RNA Interaction mOtif search tool</h1>

<!-- NAVBAR -->

<nav class="navbar navbar-expand navbar-dark rounded bg-blue container mt-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/documentation">Documentation</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/downloads" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Downloads
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Data</a>
          <a class="dropdown-item" href="#">Software</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <form class="navbar-form navbar-left ml-auto" action="/waiting" 
    method = "post" enctype="multipart/form-data" id="search-uid">
        <div class="d-inline-block">
          <input type="text" id ="uid" name="uid" class="form-control mr-auto" placeholder="Search your run ID">
        </div>
        <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>

    </form>
  </div>
</nav>

<!-- choose a theme file -->
<link rel="stylesheet" href="../../css/tablesorter-master/css/theme.default.css">
<!-- load jQuery and tablesorter scripts -->
<script type="text/javascript" src="../../css/tablesorter-master/js/jquery-latest.js"></script>
<script type="text/javascript" src="../../css/tablesorter-master/js/jquery.tablesorter.js"></script>

<!-- tablesorter widgets (optional) -->
<script type="text/javascript" src="../../css/tablesorter-master/js/jquery.tablesorter.widgets.js"></script>