<!DOCTYPE html>
<html>
<head></head>
<body>
<%- include ("partials/header.ejs") %>
<div class="container">
	<h2>About</h2>

	<p>We are a team of bioinformaticians based in Tor Vergata - Rome</p>

	<p>For more information about us visit the <a href="http://bioinformationx.com/index.php/staff/" target="_blank">staff</a> page at <a href="http://bioinformationx.com/" target="_blank">BioinformationX</a></p>

	<p>Should you find our software useful please cite us:</p>
	<div class="card card-body bg-light">
		<small> STUB: this is to be filled upon acceptance
		</small>
	</div>
	<br>
	<p>Past related works:</p>
	<div class="card card-body bg-light">
		<small> 
			<p>Adinolfi,M., Pietrosanto,M., Parca,L., Ausiello,G., Ferrè,F. and Helmer-Citterich,M. (2019) Discovering sequence and structure landscapes in RNA interaction motifs. Nucleic Acids Res., 47, 4958–4969.</p>

			<p>Pietrosanto,M., Adinolfi,M., Casula,R., Ausiello,G., Ferrè,F. and Manuela,H.-C. (2018) BEAM web server: a tool for structural RNA motif discovery. Bioinformatics, 34, 1058–1060.</p>

			<p>Pietrosanto,M., Mattei,E., Helmer-Citterich,M. and Ferrè,F. (2016) A novel method for the identification of conserved structural patterns in RNA: From small scale to high-throughput applications. Nucleic Acids Res., 44, 8600–8609.</p>

			<p>Mattei,E., Pietrosanto,M., Ferrè,F. and Helmer-Citterich,M. (2015) Web-Beagle: A web server for the alignment of RNA secondary structures. Nucleic Acids Res., 43, W493–W497.</p>
		</small>
	</div>
</div>
<%- include ("partials/footer.ejs") %>

</body>
</html>