<!DOCTYPE html>
<html>
<head></head>
<body>
<%- include ("partials/header.ejs") %>
<div class="container">
	<h2 class="text-primary pt-3 pb-3">Contacts</h2>

	<br>
	<br>
	<p>For questions, support, bug reports, proposals, cooperations or any other communication, feel free to contact:</p>
	<p>Andrea Guarracino: <a style="color:blue;" href="mailto:andrea.guarracino@uniroma2.it">andrea.guarracino@uniroma2.it</a></p><p>
	</p><p>Gerardo Pepe: <a style="color:blue;" href="mailto:gerardo.pepe@uniroma2.it">gerardo.pepe@uniroma2.it</a></p>
	<p>Francesco Ballesio: <a style="color:blue;" href="mailto:francesco.ballesio@uniroma2.it">francesco.ballesio@uniroma2.it</a></p><p>

	<br>
	<br>

	<p>Centre for Molecular Bioinformatics</p>
	<p>Prof. <a style="color:blue;" href="mailto:citterich@uniroma2.it">Manuela Helmer-Citterich</a></p>
	<p>Tor Vergata University</p>
	<p>Rome-Italy</p>

<!--
	<p>We are a team of bioinformaticians based in Tor Vergata - Rome</p>

	<p>For more information about us visit the page <a href="http://bioinformatica.uniroma2.it/" target="_blank">Centre for Molecular Bioinformatics</a></p>

	<p>Should you find our software useful please cite us:</p>
	<div class="card card-body bg-light">
		<small> STUB: this is to be filled upon acceptance
		</small>
	</div>
	<br>
	<p>Past related works:</p>
	<div class="card card-body bg-light">
		<small>
			<p>Adinolfi,M., Pietrosanto,M., Parca,L., Ausiello,G., Ferrè,F. and Helmer-Citterich,M. (2019) Discovering sequence and structure landscapes in RNA interaction motifs. Nucleic Acids Res., 47, 4958–4969.</p>

			<p>Pietrosanto,M., Adinolfi,M., Casula,R., Ausiello,G., Ferrè,F. and Manuela,H.-C. (2018) BEAM web server: a tool for structural RNA motif discovery. Bioinformatics, 34, 1058–1060.</p>

			<p>Pietrosanto,M., Mattei,E., Helmer-Citterich,M. and Ferrè,F. (2016) A novel method for the identification of conserved structural patterns in RNA: From small scale to high-throughput applications. Nucleic Acids Res., 44, 8600–8609.</p>

			<p>Mattei,E., Pietrosanto,M., Ferrè,F. and Helmer-Citterich,M. (2015) Web-Beagle: A web server for the alignment of RNA secondary structures. Nucleic Acids Res., 43, W493–W497.</p> -->
		</small>
	</div>
</div>
<%- include ("partials/footer.ejs") %>

</body>
</html>