<!DOCTYPE html>
<html>
<head></head>
<body>
<%- include ("partials/header.ejs") %>
<h2 class="text-primary">Documentation</h2>

<div id='documentation_div' class="container-fluid">

<div class="container doc_bubble rounded">
	<fieldset id='description' >
	<legend class="text-secondary">Info</legend>
	Brio is a webserver for the identification of known protein interaction motifs in RNA molecules. We collected sequence and secondary structure RNA motifs identified in CLIP, HITS-CLIP, PARCLIP and eCLIP experiments (Adinolfi et al., 2019) and these motifs are searched into the input RNA sequences and/or secondary structure. 
	<br><br>
	The search is performed with a BEAM-derived method (Pietrosanto et al., 2016).<br>
	BRIO is able to find the best match for the collections of sequence and structure ungapped motifs starting from RNA sequences or structures using the search tool based on <a href="http://beam.uniroma2.it/home">BEAM</a>.
	<br><br>
	BRIO uses the same engine of BEAM, in particular: <br>
	- Each query sequence is aligned with the motif models' Position Frequency Matrix in the chosen realm (secondary structure -in BEAR- or sequence).
	<br>
	- The starting alignment position with the highest ungapped alignment score is reported and a score is considered valid if its value is over the motif threshold, which is the minimum score of the core elements forming the motif extracted by BEAM.
	
	</fieldset>
</div>
<div class="container doc_bubble rounded">

	<fieldset id='data_collected'>
	<legend class="text-secondary">Data collected</legend>
	BRIO collects motifs that have been identified in protein-RNA binding experiments involving 181 RNA binding proteins (RBPs), 131 of which are composed of one or more known RNA binding domains. <br><br>

	QUESTO E' DA VEDERE POST REVISIONE STATISTICA -
	The list of all the motifs collected (Adinolfi et al., 2019) are schematized in the table below.
	<br>
	<table id="motif_table">
		<thead>
			<tr>
				<th>motifs</th>
				<th>5342</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>sequence motifs</td>
				<td>2680</td>
			</tr>
			<tr>
				<td>structure motifs</td>
				<td>2662</td>
			</tr>
		</tbody>
		</table>
	<br>
	For more information about the motifs collected and the datasets analysed please see <a href="https://academic.oup.com/nar/article/47/10/4958/5436775" target="_blank"> here </a>
	
	</fieldset>
</div>
<div class="container doc_bubble rounded">

	<fieldset id='other_tools'>
		<legend class="text-secondary" >Other tools</legend>
		Here you can find other tools from our group: <br><br>
		1. BEAGLE aligner for RNA structure alignment <br>
		<a href="http://beagle.bio.uniroma2.it/" target="_blank">BEAGLE webserver</a><br><br>
		2. BEAM for motif discovery<br>
		<a href="http://beam.uniroma2.it/home" target="_blank">BEAM webserver</a>

	</fieldset>

</div>
</div>


<%- include ("partials/footer.ejs") %>
</body>
</html>