<!DOCTYPE html>
<html>
<head></head>
<body>
<%- include ("partials/header.ejs") %>
<div class='container justy'>

    <h2 class="text-primary pt-3 pb-3 pl-3">Documentation</h2>

    <div id='documentation_div' class="container-fluid">

        <div class="container doc_bubble rounded">
            <fieldset id='description'>
                <legend class="text-secondary">Info</legend>
                BRIO (BEAM RNA Interaction mOtifs) is a web server designed for searching known sequence and structure
                protein binding motifs in RNA molecules of interest.<br>
                BRIO is addressed to users with a collection of RNA sequences that are interested in the identification
                of sequence or structure motifs involved in the interaction of these molecules with RNA binding proteins
                or domains.<br>
                The dataset of known motifs contains 2508 sequence and 2296 structure motifs, associated with the
                binding of 186 single proteins and 69 single protein domains.
                <br>The motifs were identified in Homo sapiens in three different types of experiments (PAR-CLIP, eCLIP,
                HITS), and Mus musculus (PAR-CLIP, HITS, (Adinolfi et al., 2019)).<br>
                The search is based on the <a href="http://beam.uniroma2.it/home" target="_blank">BEAM</a> algorithm for
                motifs finding (Pietrosanto et al., 2016).

            </fieldset>
        </div>
        <div class="container doc_bubble rounded break-seq">

            <fieldset id='input'>
                <legend class="text-secondary">Input</legend>
                Users can either insert only the RNA sequence/s of interest in the appropriate window, or the sequence
                and the corresponding secondary structure in the dot-bracket notation, in multiFASTA format.
                Alternatively, the input upload is also available. Sequences submitted without the secondary structure
                are folded with the RNAfold program (Lorenz et al., 2011). The RNA molecules have to be at least 3
                nucleotides long, and shorter than 3000. At most 100 sequences can be submitted.<br><br>
                Example of an input in multiFASTA format with dot-braket notations:<br><br>
                <p class="seq_font">
                    >chr1:149783661-149783992(-)
                    AGCACUUUGCGAGUCUUCAUUUGCAUACGGGCUCUAUAAGUAGCGCAUAACCAGCCCGUUUUGCGGUAGUUCGGAUUACUUCUUUAAGUCUCUUUUCUCUUUUUUCGCGCAAAAAUGCCGGAUCCAGCGAAAUCCGCUCCUGCUCCCAAGAAGGGCUCCAAAAAGGCUGUUACGAAAGUGCAGAAGAAGGACGGCAAGAAGCGCAAGCGCAGCCGCAAGGAGAGCUACUCCGUUUACGUGUACAAGGUGCUGAAGCAGGUCCACCCCGACACCGGCAUCUCGUCCAAGGCCAUGGGCAUCAUGAACUCCUUCGUCAACGACAUCUUCGAGC
                    .(((((((..((((((............)))))).....(((((((......(((((.(((((.(((((..((((((((((....))))......((.((...((((.(((....)))))))...)).))))))))...)))))..))))).)))))........)).))))).))))))).((.((((((((((.....((....))...))))...((((.....)))).............((((((((..(..((......))..)..)))))))).(((((......))))).........)))))).))..(((.....)))...
                    >chr1:149784741-149784985(-)
                    CUUCCAGAGCUCGGCCGUGAUGGCGCUGCAGGAGGCCAGCGAGGCCUACCUGGUGGGGCUGUUCGAAGACACGAACCUGUGCGCCAUCCAUGCCAAGCGCGUGACCAUCAUGCCCAAGGACAUCCAGUUGGCCCGCCGCAUCCGCGGGGAGCGGGCCUAAGGCAUAUUUUUAAGUGGUCGAUCUAAAGGCUCUUUUCAGAGCCACUGCCGUUUUCAUCAAGAGCAGCUGUACCGGCUCUCCAUC
                    .....(((((.(((..(.((((((((.(((((((.((.((.(((....))).)).)).)).((((......))))))))))))))))))((((.....))))((((((.(((((...((....))....(((((((....(((....))))))))))...)))))........))))))........((((((....))))))((.((.(((((.....))))).)).)).)))))))).....
                </p>
                Users can choose to compare their RNAs to the whole dataset of motifs, or to only human or mouse motifs.
                Users can also choose to select only a subset of the experiments analyzed (PAR-CLIP, eCLIP, HITS),
                deleting the unwanted type of experiment. Addition of species or of experimental data can be done by
                clicking on the empty lines of the box reported below. Deletion is done by clicking on the X character
                at the right of each species/dataset.
                Since selected eCLIP datasets were obtained from experiments regarding only Human, looking to find these
                type of experiments in Mouse will produce no results. <br>
                <img src="../../images/spec_exp.png" class="mt-3">


            </fieldset>
        </div>
        <div class="container doc_bubble rounded">


            <fieldset id='method'>
                <legend class="text-secondary">Method</legend>
                BRIO uses the substitution matrices (classic MBR, Matrix of Bear encoded RNA, for structure, and classic
                substitution matrix for nucleotides, with 3 for nucleotide matching and -2 otherwise), and scans the
                models in any single input RNA using a sliding-window ungapped alignment keeping the best match that, at
                the end, is compared to the original minimum score of the model. BRIO returns a collection of protein
                binding motifs identified in the input RNA molecules, with related statistics (position of the motif in
                the set of RNA molecules in which the motif was originally identified, p-value, odds ratio, BEAM score).
                BRIO applies the Fisher’s Test to determine if a motif is enriched in the input RNA molecules with
                respect to a set of background RNAs. The background can be specified by the user. By default, all Rfam
                14.3 sequences are considered (Bateman et al., 2011).

            </fieldset>
        </div>
        <div class="container doc_bubble rounded">


            <fieldset id='Dataset of protein binding motifs'>
                <legend class="text-secondary">Data collected</legend>
                BRIO compares the input RNA molecules with the secondary structure and sequence motifs identified in <a href="/examples/proteins.html" target="_blank">186
                RNA binding proteins</a> and <a href="/examples/domains.html" target="_blank">69 protein domains</a> analyzing 228 PAR-CLIP, eCLIP, HITS-CLIP experiments in human
                and mouse (Blin et al., 2014; Adinolfi et al., 2019).<br>
                <div class="container-sm mt-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Motif type</th>
                            <th scope="col"># of motifs</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>sequence motifs</td>
                            <td>2296 (2112 hg19 + 184 mm9)</td>
                        </tr>
                        <tr>
                            <td>structure motifs</td>
                            <td>2508 (2319 hg19 + 189 mm9)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>

        </div>
        <div class="container doc_bubble rounded">


            <fieldset id='output'>
                <legend class="text-secondary">Output</legend>
                This server compares each RNA sequence and secondary structure with the dataset of sequence and secondary structure motifs identified in the CLIP experiments selected by the user.<br>

                The output is composed of two tables, one focused on showing the results regarding the enriched motifs found in the entire input set, 
                the other focused on showing the results for each single input sequence provided.<br>
                Here follows an example of the Enriched Motifs results output Table: <br>
                <img src="../../images/mot_output2.png" width="700"><br>
                In the Enriched Motifs Table, by default the different motifs are sorted according to their associated Fisher’s Test p-value (see below for more details):<br>

                In each column the user can see:
                <div class="container">
                    <ol>
                        <li>the logo of the secondary structure motif in the BEAR alphabet or, in case of sequence motifs, in the IUPAC nucleic acid notation (logos have been generated using WebLogo (Crooks et al., 2004);
                        </li>
                        <li>the type of motif: structural or sequence motif;</li>
                        <li>The type of mapping regions from gencode annotation of the RNAs datasets where the motif was originally found, includes UTR, CDS and the entire transcript for those involving RBPs known to act in the nucleus on unspliced RNAs;
                        </li>
                        <li>the coverage represents the number of input sequences in which the motif has a score higher than its associated threshold, divided by the number of query sequences;
                        </li>
                        <li>the Fisher’s Test p-value. The Fisher’s Test is applied to determine if a motif is enriched in the input RNA molecules with respect to a set of background RNAs;
                        </li>
                        <li>The type of the CLIP experiment analyzed (parCLIP/eCLIP/hitsCLIP);</li>
                        <li>the protein associated to the RNA secondary structure motif in the CLIP experiment analyzed;

                        </li>
                        <li>the protein domain associated to the RNA secondary structure motif (this information is not always available);

                        </li>
                        <li>the organism in which the experiment was performed (human or mouse);</li>
                        <li>last column reports the link for the download of the information on the motif described in
                            the row.
                        </li>
                    </ol>
                </div>
                The Table contents can be sorted in ascending or descending order by clicking on the appropriate arrow of the single columns.<br>


                The sequence-focused table can be accessed by selecting the appropriate tab, at the top of the Table:
                <img src="../../images/seq_output4.png" width="700"><br>

                Each row of this Table represents one of the input sequence/s given by the user, the four columns contains the
                name of the sequence, the number of sequence motifs found in that sequence, the number of structural motifs, 
                and the total length of the input sequence.<br>
                
                For each sequence, by clicking on the “+” symbol, another table will appear, containing detailed informations 
                about all the motifs found in that sequence:<br>
                <img src="../../images/seq_output5.png" width="700"><br>
                In particular, in this case, the columns will display the following information for each motif:<br>
                <div class="container">
                    <ul>
                        <li>the start and the end position of the motif in the selected particular sequence;</li>
                        <li>the representation of the motif in BEAR alphabet for structure motifs or in IUPAC nucleic acid notation for sequence motifs;</li>
                        <li>the type of the motif: sequence or structural;</li>
                        <li>the protein associated with the RNA secondary structure motif in the CLIP experiment analyzed by Adinolfi et al. (2019) and the type of the CLIP experiment.</li>
                    </ul>
                </div>

               
                
                


               

            </fieldset>

        </div>
        <div class="container doc_bubble rounded">


            <fieldset id='encodings'>
                <legend class="text-secondary">Encodings</legend>
                BEAR: the BEAR encoding represents each position of an RNA molecule with a character taken from a set of
                83, each describing its structural context and its length (Mattei et al., 2014).<br>
                quickBEAR(qBEAR): qBEAR was originally developed as a way to show alignments of RNA structures in a Logo
                form (Crooks et al., 2004), where each position of an RNA molecule is described by one of 18 characters
                encoding for structural contexts and length groups (Pietrosanto et al., 2016).<br>
                The following TABLE illustrates the mapping between Secondary Structure Elements and qBEAR and BEAR
                encodings used throughout the work. Motivations for BEAR can be found in the original work (Mattei et
                al., 2014).<br>
                <img src="../../images/bear.png"><br>


            </fieldset>
        </div>
        <div class="container doc_bubble rounded">
            <fieldset id='browser-compatibility'>
                <legend class="text-secondary">Browser compatibility</legend>
                <div class="container-sm mt-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">OS</th>
                            <th scope="col">Version</th>
                            <th scope="col">Chrome</th>
                            <th scope="col">Firefox</th>
                            <th scope="col">Microsoft Edge</th>
                            <th scope="col">Safari</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>MacOS</td>
                            <td>Catalina</td>
                            <td>87.0.4280</td>
                            <td>84.0</td>
                            <td>n/a</td>
                            <td>14.0</td>
                        </tr>
                        <tr>
                            <td>MacOS</td>
                            <td>High Sierra</td>
                            <td>87.0.4280</td>
                            <td>81.0.1</td>
                            <td>n/a</td>
                            <td>13.1.2</td>
                        </tr>
                        <tr>
                            <td>Linux</td>
                            <td>Ubuntu 20.04</td>
                            <td>87.0.4280</td>
                            <td>84.0</td>
                            <td>n/a</td>
                            <td>n/a</td>
                        </tr>
                        <tr>
                            <td>Windows</td>
                            <td>10</td>
                            <td>87.0.4280</td>
                            <td>84.0</td>
                            <td>87.0.664.66</td>
                            <td>n/a</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </fieldset>
        </div>
        <div class="container doc_bubble rounded">
            <fieldset id='references'>
                <legend class="text-secondary">References</legend>
                <ul>
                    <li>Adinolfi M, Pietrosanto M, Parca L, Ausiello G, Ferrè F, Helmer-Citterich M. (2019) Discovering
                        sequence and structure landscapes in RNA interaction motifs. Nucleic Acids Res, 47:4958-4969.
                    </li>
                    <li>Bateman,A., Finn,R.D. and Petrov,A.I. (2017) Rfam 13.0: shifting to a genome-centric resource
                        for non-coding RNA families. Nucleic Acids Res., 46, 335–342.
                    </li>

                    <li>Blin, K., Dieterich, C., Wurmus, R., Rajewsky, N., Landthaler, M., & Akalin, A. (2014).
                        DoRiNA 2.0—upgrading the doRiNA database of RNA interactions in post-transcriptional regulation. Nucleic Acids Research.
                    </li>
                    <li>Crooks, Gavin E., et al. "WebLogo: a sequence logo generator." Genome research 14.6 (2004):
                        1188-1190.
                    </li>
                    <li>Lorenz R, Bernhart S.H., Hoener zu Siederdissen C., Tafer H., Flamm C., Stadler P.F. and
                        Hofacker I.L. (2011), "ViennaRNA Package 2.0", Algorithms for Molecular Biology: 6:26
                    </li>
                    <li>Mattei,E., Ausiello,G., Ferrè,F. and Helmer-Citterich,M. (2014) A novel approach to represent
                        and compare RNA secondary structures. Nucleic Acids Res., 42, 6146–6157.
                    </li>
                    <li>Pietrosanto,M., Mattei,E., Helmer-Citterich,M. and Ferrè,F. (2016) A novel method for the
                        identification of conserved structural patterns in RNA: From small scale to high-throughput
                        applications. Nucleic Acids Res., 44, 8600–8609.
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
</div>


<%- include ("partials/footer.ejs") %>
</body>
</html>