<!DOCTYPE html>
<html>
<head>
	</head>
<body>
<%- include ("partials/header.ejs") %>
<div class='container pt-3'>
<div class="alert alert-primary" role="alert">
  Generic error!
</div>
</div>
<%- include ("partials/footer.ejs") %>
</body>
</html>