<h1>BRIO</h1>

<form method="post" action="/" novalidate>
  <div class="form-field">
    <label for="inputRNA">Input RNA</label>
    <textarea class="input" id="inputRNA" name="inputRNA" autofocus></textarea>
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input class="input" id="email" name="email" type="email" value="" />
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Go!</button>
  </div>
</form>