<!DOCTYPE html>
<html>
<head>
	</head>
<body>
<%- include ("partials/header.ejs") %>
<h2 class="text-primary">Loading</h2>
<div>
    Email:<br/>
    <%= email %> <br>
    ID: <%= userID %>
</div>

<br/><br/>
<div>
    <h4>...a polite (and appealing) waiting message...</h4>
    <br/>
    ...redirect to the output page with the output file links...
</div>
<br/>

<%- include ("partials/footer.ejs") %>
</body>
</html>