<h1>Loading</h1>
<div>
    Email:<br/>
    <%= email %>
</div>
<br/><br/>
<div>
    Input RNA(s):<br/>
    <%= inputRNA_processed.valid_rnas %>
</div>
<br/>
<% if (errors) { %>
    <div class="error"><% console.log(errors) %></div>
  <% } %>
