/*styles.css*/

div.form {
	display: inline-block;
}

div.form-header {
	padding: 2rem;

}

fieldset.form-fieldset {
	border : 2px solid #222222;
	display: inline-block;
	padding-bottom: .5rem;
}

fieldset.form-options {
	text-align: center;
}

legend.form-fieldset {

	width:inherit; /* Or auto */
    padding:0 5%; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

ul.error-tabs > li {
	margin: auto;
}

#WS_description{
    text-align:center;
    color: rgba(82,130,180, 0.8);
	-webkit-text-stroke: 1px #0D3184;
	font-size:1.5em;
}

.doc_bubble {
	border: 2px solid #6c757d;
	margin: 1rem auto;
	padding-bottom:  1rem;
}